@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,400;0,6..12,600;0,6..12,700;0,6..12,800;1,6..12,700&display=swap');
:root {
  --bg1: hsl(0, 0%, 100%);
  --bg2: hsla(0, 0%, 98%, 0.953);
  --text: hsl(200, 15%, 8%);
  --input: hsl(0, 0%, 52%);
  --border1: lightgray;
  --sidepad: 2rem 5rem;
  --highlightbg: hsl(207, 26%, 17%);
  --highlighttext: hsl(0, 0%, 100%);
  --control-height: 50px;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  font-family: "Nunito Sans";
}

h1, h2, h3, h4, h5{
  font-weight: 800;
}

a {
  color: inherit;
  text-decoration: none;
}

html{
  color-scheme: dark;
}

datalist{
  display: none;
}