.darkMode{
  --bg1: hsl(209, 23%, 22%);
  --bg2: hsl(207, 26%, 17%);
  --text: hsl(0, 0%, 100%);
  --input: hsl(0, 0%, 100%);
  --border1: lightgray;
  --highlightbg: hsl(0, 0%, 100%);
  --highlighttext: hsl(207, 26%, 17%);
}

.main {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.header{
  display: flex;
  justify-content: space-between;
  background-color: var(--bg1);
  padding: var(--sidepad);
  color: var(--text);
}

.btn1{
  display: flex;
  background-color: transparent;
  color: var(--text);
  align-items: center;
  justify-content: space-between;
  border: 1px solid transparent;
  border-radius: 7px;
  font-size: 18px;
  font-weight: 600;
  width: 140px;
  padding: 0 5px;
}

.btn1:hover{
  cursor: pointer;
  border: 1px solid var(--border1);
}

.moon{
  transform: rotateZ(-30deg);
  font-size: 20px;
}

.section{
  background-color: var(--bg2);
  padding: var(--sidepad);
  flex-grow: 1;
}

.form{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.filter{
  max-width: 300px;
}

.countries{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}